.jumbotron {
  margin-top: 1em;  // add a little space
}

label {
	margin-bottom: 0;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}

.logo {
    width: 100%; 
    margin: auto auto; 
}

.logo-div {
    border-radius: 20px;
    border: 3px solid;
}

.navbar-brand .logo {
    margin-right: 5px;
    padding-right: 0 !important;
}