{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% import 'macros.html' as macros %}

{%- extends "base.html" %}

{% block content %}
    <div class="container">      
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <div class="row text-center karma-head" style=""><h4>Помоги НИИ мысленно!</h4></div>
                    <div class="row">
                        <div class="col-xs-10 col-md-10 col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-10 col-lg-offset-1">
                            {% call macros.render_form(form, action_url=url_for('karma.index'), action_text='Помочь НИИ',
                                                        class_='donation-credits-message') %}
                                {{ macros.render_field(form.value, label_visible=true, placeholder='-100 .. 100', type='text') }}
                            {% endcall %}
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row text-center">
                    <div class="col-md-12">
                        {{utils.flashed_messages(messages)}}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %} 
    </div>
{% endblock content %}